<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : 해당하는 파일을 구분할 수있는 고유의 이름을 정해주는 작업 
	해당하는 공간에는, maaper 파일을 사용하게 될 DAO의 
	full name을 기술하는 것을 원칙으로 한다.
 -->
<mapper namespace="com.fly.model.MemberDAO">
	<!-- SQL구문들을 기술할 수 있는 공간  -->
	
	<!-- 
		어떤 SQL문을 사용하느냐에 따라서, 태그를 바꾸면서 사용하자
		: insert, delete, update, select
		* 각 태그들의 공통 속성값
		(1) id : 해당하는 sql구문을 구분 할 수있는 고유값 "중복 불가능"
		(2) resultType : 반환된 결과값을 Java에서 표현 할 수 있는 형태로 자료형을 지정
			>> 기본으로 제공되는 자료형들은 생략가능하다. (+String, ArrayList 등등)
		(3) parameterType : 매개변수로 받아온 자료형을 지정하는 공간
		
		* \#{} : JDBD기준 ? 인자를 대신해서 사용하는 방식
				: 자바에서 전달반은 매개변수를 채울 때, 사용하는 mybatis만의 방식
			
	 -->
  <!--로그인  -->
  <select id="login" parameterType="com.fly.model.MemberVO" resultType="com.fly.model.MemberVO">
  	SELECT USER_ID AS id,
       USER_PW AS pw,
       USER_AREA AS area
	FROM T_USER
	WHERE USER_ID = #{id} AND USER_PW = #{pw}
  </select>
  
  <!-- 사용자 추가 -->
  <insert id="join" parameterType="com.fly.model.MemberVO">
  	INSERT INTO T_USER (USER_ID, USER_PW, USER_AREA)
  		VALUES (#{id},#{pw},#{area})
  </insert>
  
  <!-- 최근 로그인 기록  -->
	<update id="lastlogin" parameterType="string">
    	UPDATE T_USER
    		SET LAST_LOGIN = CURRENT_TIMESTAMP
    		WHERE USER_ID = #{id}
	</update>
	
	<!-- 사용자 전체 조회  -->
	<select id="allmanager" resultType="com.fly.model.MemberVO">
		SELECT USER_ID AS id, USER_AREA AS area
		FROM T_USER
	</select>
	
	<!-- 사용자 삭제 -->
	<delete id="deleteuser">
  		DELETE FROM T_USER WHERE USER_ID = #{id}
	</delete>	
	
	<!-- 사용자 수정 -->
	<update id="updateuser" parameterType="com.fly.model.MemberVO">
  	UPDATE T_USER
		SET USER_PW   = #{pw, jdbcType=VARCHAR},
		USER_AREA = #{area, jdbcType=VARCHAR}
		WHERE USER_ID = #{id, jdbcType=VARCHAR}
	</update>
	
	<!-- 사용자 검색 -->
	<select id="searchuser" parameterType="string" resultType="com.fly.model.MemberVO">
	  SELECT USER_ID AS id, USER_AREA AS area
	  FROM T_USER
	  WHERE USER_ID LIKE '%' || #{keyword} || '%'
	     OR USER_AREA LIKE '%' || #{keyword} || '%'
	</select>
	<!-- 전체 감지기록 조히  -->
	<select id="alllog" resultType="com.fly.model.MemberVO">
    SELECT REG_DT AS "date",
    DETECT_TYPE AS "type",
        CAMERA_LOC AS "loc",
        PROG_STATUS AS "prog",
        DETECT_ID AS "det_id"
	FROM T_DETECTION
	</select>
	
	<!-- 선택 감지기록 삭제   -->
	<delete id="deleteLogs" parameterType="java.util.List">
  		DELETE FROM T_DETECTION
  		WHERE DETECT_ID IN
  		<foreach collection="list" item="id" open="(" separator="," close=")">
    		#{id}
  		</foreach>
	</delete>
	
	<!-- 헬멧 미착용 / 2인 탑승 분류  -->
	<select id="logtype" parameterType="com.fly.model.MemberVO" resultType="com.fly.model.MemberVO">
  SELECT *
  FROM (
      SELECT 
          REG_DT      AS "date",
          CAMERA_LOC  AS "loc",
          DETECT_TYPE AS "type"
      FROM T_DETECTION
      WHERE 1=1
      <if test="type != null and type != ''">
          AND DETECT_TYPE = #{type}
      </if>
      ORDER BY REG_DT DESC
  ) sub
  WHERE ROWNUM &lt;= 20
</select>
	
</mapper>